<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>FeedBackForm</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="css/style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<!-- Declare a new AngularJS app and associate the controller -->
	<body ng-app> <!-- ng-controller="FeedBackFormController as feedback"-->


		<form>

			<h1>Feedback</h1>

			<ul>
				<div ng-controller="ContentController as content">
				<li ng-repeat="cont in content.categories" ng-click="content.toggleActive(cont)" ng-class="{active:cont.active}">					
					{{cont.name}} 
					<span>
					 <label ng-repeat="d in cont.radioData">
       					<input type="radio" name="d.label" ng-model="content.score" ng-value="d.value" />{{d.value}}
         			 </label>
             		</span>

                 </li>
				</div>			
			</ul>
			<div class="total">				
				Content Score: <span>{{content.total()}}</span>
			</div>
			<ul>
				<div ng-controller="LearningController as learning">
				<li ng-repeat="learn in learning.categories" ng-click="learning.toggleActive(learn)" ng-class="{active:learn.active}">					
					{{learn.name}} 
					<span>
					<label ng-repeat="d in learning.radioData">
       					<input type="radio" name="d.label" ng-model="learning.score" ng-value="d.value" />{{d.value}}
         			 </label>						
					</span>
				</li>
				</div>
				<div class="total">				
				Learning Score: <span>{{learning.total()}}</span>
				</div>
			</ul>
			<div class="save" ng-submit="submit">
			 <input type="submit" class="btn btn-info" value="save">
			</div>

			<!--<div class="total">				
				Total: <span>{{feedback.total()}}</span>
			</div>-->

		</form>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
